
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <div class="container">
    <form action="form.html">
      <h1>Add New Article</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="form_title">Article Title</label>
                    <input id="form_title" type="text" name="title" class="form-control" placeholder="Please enter the article title" required="required" data-error="Article Title is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="form_name">Author Name</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your name" required="required" data-error="Valid name is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="form_fileupload">Upload Files:</label>
                <input id="form_fileuplaod" type="file" name="fileupload" class="form-control-file">
               </div>
              </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="form_need">Pages</label>
                    <select id="form_need" name="page" class="form-control" required="required" data-error="Please specify your page">
                        <option value="Request quotation">Academics</option>
                        <option value="Request order status">Projects</option>
                        <option value="Request copy of an invoice">Cool Things</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
          </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="form_message">Article Text</label>
                    <textarea id="form_text" name="article text" class="form-control" placeholder="" rows="10" required="required" data-error="Please, enter text for the article"></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <label>Select Tags</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Python</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">C++</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Java</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox4">Scala</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                    <label class="form-check-label" for="inlineCheckbox5">Other</label>
                </div>
            </div>
            <div class="col-md-6">
              <label for="visibility_button">Visability</label> <br>
                <div class="btn-group btn-group-toggle" id="visibility_button" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="option1" autocomplete="off">Public</label>
                  <label class="btn btn-secondary">
                  <input type="radio" name="options2" id="option2" autocomplete="off">Private</label>
                </div>
            </div>
        </div>
        <label for="login">Login to Finish Submitting</label> <br>
        <div class="row" id="login">
          <div class="col-md-4">
              <div class="form-group">
                  <input id="username" type="text" name="username" class="form-control" placeholder="Username" required="required" data-error="Valid username is required.">
                  <div class="help-block with-errors"></div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
          </div>

        <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Submit">
        </div>
    </div>

  </form>

</body>
</html>
