              
<!DOCTYPE html>
<html lang="en">
    <html>
      <head>
        <title>About Me</title>
      </head>
      <body>
        <h1>Feig, Sam</h1>
        <p>
        	I am studying computer science because I enjoy the challenge of solving difficult problems and want to develop the next set of space missions control software. 
			<br> <br>

        	Fun facts about me: <br>
        	1) I have been to 4 of the 7 continents <br>
        	2) I have been coding for more than 7 years <br>
        	3) I love to read science fiction <br>
        </p>

        <h2>My Professional Profile</h2>
        <a href="https://github.com/SamFeig" target="_blank">Sam's Github</a>
        <br><br>

        <img src="../resources/img/coverpic.png" alt="Cover Image" width="auto" height="400px">
        <br><br>

        <h3>My Favorite Projects</h3>
        <table border="1">
          <tr>
            <td><strong>Name of the Project</strong></td>
            <td><strong>Technologies Used</strong></td>
          </tr>

          <tr>
            <td>Automatic targeting using computer vision </td>
            <td>Java, OpenCV, RaspberryPi, Bash</td>
          </tr>

          <tr>
            <td>Robotics motion planning/Control</td>
            <td>Java</td>
          </tr>

          <tr>
            <td>SSA modeling and simulation</td>
            <td>Java, Maven, Astrodynamics, JUnit</td>
          </tr>
        </table>




        <h3>Countries Travelled</h3>
        <ol>
          <li>Japan</li>
          <li>China</li>
          <li>United Kingdom</li>
          <li>France</li>
          <li>Germany</li>
          <li>Sweden</li>
          <li>Scotland</li>
          <li>Greece</li>
          <li>Ecuador</li>
          <li>Puerto Rico</li>
          <li>Canada</li>
        </ol>

        <h3>Interests</h3>
        <ul>
          <li>Space</li>
          <li>Coding</li>
          <li>Running</li>
        </ul>


      </body>
    </html>

            